
  <button class="navbar-cocktails-search-btn"><%= icon('search') %></button>

  <form action="/cocktails" method="get" class="search-form">
    <input type="text" name="query" class="navbar-cocktails-search-input">
  </form>

