<div class="form-card col-xs-12 col-sm-offset-3 col-sm-6">
  <h2>Edit your cocktail</h2>

  <%= render 'form', cocktail: @cocktail %>

  <%= link_to 'Back', @cocktail, class: "btn-vale", id: "btn-overriding-bootstrap" %>
</div>
