/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding: 20px 10px;
}

.padded-form {
  padding: 10px 0px;
}

.other-padded {
  padding: 20px 0px 0px 0px;
}

.marged-bottom {
  margin: 30px
}

// Backgrounds
.bg-white-fa {
  background: #fafafa;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// general - for navbar
.container {
  min-height: 100vh;
  padding-top: 70px;
}

// font
h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #fafafa;
}


.form-actions {
  text-align: right;
  .btn-vale {
    width: 150px;
  }
}
