.btn-vale {
  color: $gray;
  border-bottom: 3px solid rgba(6, 214, 160, 0.7);
  box-shadow: inset 0 -7px 0 rgba(6, 214, 160, 0.7);
  background-color: transparent;
  padding: 5px 5px;
  font-weight: lighter;
  &:hover {
    color: rgba(0,0,0,0.8);
    background-color: rgba(6, 214, 160, 0.5);
    text-decoration: none;
  }
}

.btn-vale-success {
  border-radius: 30px;
  color: $green;
  background-color: transparent;
  border: 1px solid $green;
  padding: 10px 15px;
  margin: 10px;
  font-weight: lighter;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $green;
  }
}
